<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>What Spot</h1>
    <p class="lead">Mediate Spot Selection</p>
  </div>
</header>

  <!-- <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form> -->

  <form class="newGroup">
    <label>What event am I mediating?</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Event Name" ng-model="group.name">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="newGroup()">Add New</button>
      </span>
    </p>
  </form>

  <a href="/groupPage/{{group.ID}}" ng-show="groupCreated">/groupPage/{{group.ID}}</a>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
